.button {
  height: 56px;
  width: 528px;
  border-radius: 6px;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  background: #2d71f7;

  &:disabled {
    background: grey;
  }
}

.smallButton {
  height: 56px;
  width: 120px;
  padding: 0px 34px;
  display: flex;
  align-items: center;
}
//rafce
