.postList {
  margin: 0 auto;
  display: flex;
  width: 576px;
  height: auto;
  padding: 40px 0px;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
  overflow: auto;

  .container {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    width: 528px;
    height: auto;

    .threadList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
      width: 528px;
      height: auto;

      .post {
        display: flex;
        padding: 0px 8px 24px 8px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 512px;
        height: auto;
        border-bottom: 1px solid #e6e6e6;

        .writerDesktop {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          width: 512px;
          height: 48px;

          .name {
            display: flex;
            padding-right: 0px;
            align-items: center;
            gap: 16px;
            flex: 1 0 0;
            width: 116px;
            height: 48px;

            .profileThumb {
              width: 48px;
              height: 48px;
              position: relative;

              .pic {
                width: 48px;
                height: 48px;
                border-radius: 48px;
                position: absolute;
              }
              .profilePicLine {
                width: 48px;
                height: 48px;
                border: 1px solid black;
                border-radius: 50%;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
              }
            }
            .userName {
              font-family: Apple SD Gothic Neo;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
          .function {
            display: flex;
            align-items: center;
            gap: 16px;
            width: 68px;
            height: 22px;

            .dateTime {
              color: #999;
              font-family: Apple SD Gothic Neo;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
            }
          }
        }
        .threadContent {
          align-self: stretch;
          font-family: Apple SD Gothic Neo;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
        }
        .actionAndInfo {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          width: 61px;
          height: 22px;

          .commentInfo {
            width: 53px;
            height: 22px;
            display: flex;
            padding: 0px 4px;
            align-items: flex-start;
            gap: 12px;

            .commentCount {
              color: #999;
              font-family: Apple SD Gothic Neo;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .action {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;
      align-self: stretch;
      width: 528px;
      height: 56px;
    }
  }
}
